body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


#map {
    height: 100vh;
}

.title {
    position: absolute;
    z-index: 1;
    top: 100px;
    left: 100px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 60px;
    text-transform: uppercase;
    color: #333333;
}

.inputContainer {
    display: flex;
    ;
    position: absolute;
    top: 170px;
    left: 100px;
    width: 360px;
    height: 50px;
    background-color: #333333;
    z-index: 1;
    border-radius: 999px;
    color: white;
}

.inputContainer .input-fild {
    display: flex;
    flex: 1;
    height: 100%;
    border-radius: 999px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
}

.inputContainer .input-fild input {
    flex: 1;
    outline: none;
    color: white;
    font-size: 20px;
    background-color: transparent;
    border: none;
}

.inputContainer .input-fild i {
    color: white;
    font-size: 20px;
}

.stores-list-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    z-index: 1;
    top: 235px;
    left: 100px;
    width: 400px;
    background-color: white;
    border-radius: 30px;
    bottom: 15px;
    padding-bottom: 25px;
}

.store-info-window {
    min-width: 300px;
    font-size: 18px;
    padding: 8px;

}

.store-info-window .store-info-openStatus {
    margin-top: 6px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
    color: rgba(0, 0, 0, .57)
}

.store-info-window .store-info-name {
    font-size: 24px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.87);
}

.store-info-address,
.store-info-phoneNumber {
    margin-top: 8px;
    display: flex;
    align-items: center;
}

.store-info-address .icon,
.store-info-phoneNumber .icon {
    margin-right: 8px;
    width: 30px;
    height: 30px;
    background-color: #1985A1;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}


.store-info-phoneNumber a,
.store-info-address {
    text-decoration: none;
    color: #514c4c;
}


.stores-list {
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #979797;
    flex: 1;
    overflow-y: scroll;
    overflow: hidden;

}

.store-container {
    border-bottom: 1px solid #979797;
    display: flex;

}


.store-info-container {
    flex: 1;

}

.store-number-container {
    display: flex;
    align-items: center;
}

.store-address {
    font-size: 20px;
    color: #514C4C;
    margin-top: 30px;
}

.store-address span {
    display: block;
}

.store-phone-number {
    color: #B5ADAd;
    margin-top: 15px;
    margin-bottom: 15px;
}

.store-number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #454E53;
    margin-right: 10px;
    color: white;
}

.store-container-background {
    flex: 1;
    display: flex;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 12px;
    margin-top: 12px;
    border-radius: 18px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.store-container-background:hover {
    background-color: #cccccc87;
}

.intro {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.enter-zip {
    color: #514c4c;
    font-size: 22px;
}

.find-stores {
    color: #1985A1;
    font-size: 20px;
}

.no-stores-found {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #514C4C;
    font-size: 20px;
}